.products{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}
.product_position{
    margin: 20px;
    padding: 25px;
    border: 1px solid black;
    position: relative;
}
.product_name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.product_price{
    text-align: center;
    font-size: 25px;
    margin: 0;
}
.product_article{
    text-align: center;
    font-size: 30px;
    margin: 0;

}
.product_color{
    text-align: center;
    font-size: 30px;
    padding: 35px 0;
    margin: 0;
}
.propsBtn{
    width: 120px;
    height: 30px;
    border-radius: 30px;
    background: content-box;
    position: absolute;
    bottom: 1%;
    left: 25%;
}
.favorite{
    color: yellow;
}
